:root{
    --rojo: #C9181B;
    --blanco: #FFFF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: helvetica;
    font-size: 16px;
    line-height: 24px;
    color: #333;
}

.menu{
    display: flex;
}

.menu-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--rojo);
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
}

.menu-nav ul{
    display: flex;
    flex-direction: row;

}

.menu-nav ul li{
    list-style: none;
    margin-right: 20px;
    padding: 10px;
}

.menu-nav ul li a{
    text-decoration: none;
    color: var(--blanco);
}
