:root{
    --rojo-bajo: #C9181B;
    --blanco: #FFFF;
    --negro: #333;
    --rojo:red;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: helvetica;
    font-size: 16px;
    line-height: 24px;
    color: #333;
}

.menu{
    display: flex;
}

.menu-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--rojo-bajo);
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
}

.menu-nav ul{
    display: flex;
    flex-direction: row;

}

.menu-nav ul li{
    list-style: none;
    margin-right: 20px;
    padding: 10px;
}

.menu-nav ul li a{
    text-decoration: none;
    color: var(--blanco);
}

.franja{
    background-color: var(--negro);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.franja h2{
    color: var(--blanco);
    margin-bottom: 10px;
}

.franja-roja {
    width:9%;
    height: 5px;
    background-color: var(--rojo);
}